<section>
        <div id="Victoria">
            
            <a href='@Url.Action("Index")'>
                <h1>Fin del Juego</h1>
                
            </a>
        </div>
        <br>
        <h5 style="color: yellow; font-size: 20px;">Usuario: @ViewBag.Username</h5>
        <h5 style="color: yellow; font-size: 20px;">Puntos: @Juego.PuntajeActual </h5>
    <a href='@Url.Action("Index")'>
        <button type="button" class="btn btn-warning">PLAY AGAIN</button>
    </a>
</section>