@{
    ViewData["Title"] = "Index";
}
<section class="index">

</section>
<img src="#">
<!--Logo del juego-->
<div id="botonJugar"><a href='@Url.Action("SeleccionUsuario")'><h1>Iniciar</h1></div>
<!--Animacion del jugar cambio de color - Sombra del div-->