<section class="juego">
    <main class="pregunta">
        <div>
            <p>@ViewBag.PreguntaProxima.Enunciado</p>
        </div>
        @if (ViewBag.PreguntaProxima.Foto!=null){
            <div>
                <img src="@ViewBag.PreguntaProxima.Foto">
            </div>
        }
    </main>
    
    <main class="respuesta">
    @foreach (Respuesta respuesta in ViewBag.RespuestasProximas)
        {
            <a href='@Url.Action("VerificarRespuesta","Home", new {idPregunta=ViewBag.PreguntaProxima.IdPregunta,idRespuesta=respuesta.IdRespuesta})' method="post">
                <div>
                    <button><h5>@respuesta.Contenido</h5></button>
                </div>
            </a>
        }
    </main>
    
    
</section>