<body class="juego">
    <div class="verificacionDiv">
        @if(ViewBag.Acierto)
        {
            <script type="text/javascript" src="/js/confetti-effect.js"></script>
            <h1>¡Respuesta Correcta!</h1>
        }
        else
        {
            <h1>¡Respuesta Incorrecta!</h1>
        }   
        <a href='@Url.Action("Jugar")'><button type="submit" class="btn btn-warning">CONTINUE >></button></a>
    </div>
</body>