html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
body {
  margin:0;
  background-image: url("../img/background-index.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
header{
  width: 60%;
  position: absolute;
  top: 10px;
  left: 10px;
}
footer{
  position: absolute;
  bottom: 0;
  color: #FDD64F;
}
img {
  width: 100%;
}
section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section #logo {
  position: absolute;
  top: 20%;
  width: 51.4%;
}
section .inicio-centrado {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section .inicio-centrado form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section .inicio-centrado .btn-warning {
  position: absolute;
  margin-top: 1%;
  top: 66%;
}
section .inicio-centrado .btn-outline-warning {
  position: absolute;
  top: 60%;
  margin-bottom: 1%;
}

/*configurar juego*/
#select-cat-dif
{
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}
#select-cat-dif form
{
  margin: 5%;
  margin-top: 0;
  margin-bottom: 0;
  justify-content: center;
  align-items: center;
}
#select-cat-dif main {
  margin: 1%;
  margin-left: 9%;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
#select-cat-dif .categoria{
  width: 30%;
  height: 18%;
  padding: 0;
  margin: 0.6%;
  display: flex;
  margin-bottom: 1%;
}
#select-cat-dif .categoria img{
  width: 100%;
  height: auto;
  margin-right: 2%;
}
#select-cat-dif h1
{
  margin-top: 2%;
  font-size: 30px;
  text-align: center;
  color: #FDD64F;
}
#select-cat-dif .dificultad {
  width: 22%;
  height: auto;
  display: flex;
  margin: 0;
  margin-bottom: 1%;
}

[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
[type=radio] + img {
  cursor: pointer;
}

[type=radio]:checked + img {
  border: 4px solid #FDD64F;
}


/*Juego*/

.juego{
  width: 100%;
  height: 100%;
  padding: 5%;
  background-image: url(https://th.bing.com/th/id/R.32764e0c7f829ceff22fd20954ebe055?rik=DI0OFkjCPXTaOA&pid=ImgRaw&r=0);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pregunta{
    width: 50%;
    height: auto;
    color: white;
    margin: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    border-radius: 50px;
    background-color: #790000;
    box-shadow: 0px 0px 10px 10px #8c0000 ;
}
.pregunta div{
  width: 40%;
  height: auto;
  margin: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pregunta img {
  width: 80%;
  height: auto;
  border-radius: 20px;
}
.pregunta h1
{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}
.pregunta p{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 23px;
  text-align: center;
}

.respuesta
{
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.respuesta form{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.respuesta form a{
  width: 100%;
  height: auto;
}
.respuesta form a{
  width: 100%;
  height: auto;
  margin: 1.5%;
  padding: 2.5% 10%;  
  background-color: #f1f1f1;
  border-radius: 20px;
}
.respuesta form a:hover{
  background-color: #c5c5c5;
}
.respuesta a h5
{
  color: black;
  width: 100%;
  margin: 0;
  font-size: 24px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
}

.respuesta form a
{
  text-decoration: none;
}
a [type=radio]
{
  cursor: pointer;
}
/*Perdiste*/
#Perdida {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 13%;
}
#Perdida h1{
    font-size: 125px;
    position: relative;
    margin-top: 15%;
    animation-name: animacion;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    text-decoration: none;
}
#Perdida a {
  text-decoration: none;
}
  
@keyframes animacion{
    0% {color:red;}
    50% {color:orange;}
    100% {color: yellow;}
}
/*Victoria*/
#Victoria {
  display: flex;
  justify-content: center;
  margin-top: 23%;
  width: 100%;
  font-size: 100%;
  background: none;
  transition: font-size 2s, transform 2s;
}
#Victoria a {
  text-decoration: none;
}
#Victoria:hover {
  font-size: 400%;
  font-weight: bold;
  transform: scale(4,4);
}
#Victoria h1 {
  animation-name: animacion2;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes animacion2 {
  0% {color: rgb(4, 212, 4);}
  50% {color:  rgb(230, 47, 206)}
  100% {color:  rgb(221, 215, 44)}
}